.projects-page-bg {
    background-color: #111111ee;
    border-radius: 10px;
    margin: 75px auto;
    padding: 75px 20px;
    z-index: -90;
    width: 95%;
    justify-content: center;
}

.projects-section-heading {
    position: relative;
    user-select: none;
    margin: 0 auto 75px;
}

.projects-section-heading-text {
    color: #ddd;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects-row {
    // display: flex;
    justify-content: center;
    margin: 0 auto;
}

.project-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    // max-width: 1100px;
    margin: 55px auto;
    width: 100%;

    &:nth-child(even) {
        flex-direction: row-reverse;

        > .project-info {

            @media (min-width: 1351px) {
                margin-left: 50px;
            }
        }
    }

    &:nth-child(odd) {
        > .project-info {
            @media (min-width: 1351px) {
                margin-right: 20px;
                margin-left: 50px;
            }
        }
    }
    
    @media (max-width: 1350px) {
        flex-direction: column;

        &:nth-child(even) {
            flex-direction: column;
        }
    }

    img {
        height: auto;
        max-width: 500px;
        margin: auto 50px;
        
        @media (max-width: 1350px) {
            width: 98%;
            margin: auto;
        }
    }

    p, h3 {
        color: #fff;
    }
}

.project-item-img {
    h3 {
        text-align: center;
    }
}

.project-info {
    align-self: flex-start;

    @media (max-width: 1350px) {
        text-align: center;
        justify-self: center;
        max-width: 700px;
        margin: 0 auto;
    }

    p {
        font-size: 20px;

        &:first-child {
            @media (max-width: 1350px) {
                margin-top: 20px;
            }
        }
    }
}

.project-item-links {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    color: #fff;
    margin: 10px auto;
    
    a {
        color: #fff;
        text-align: center;
        margin: 0 auto;
        
        &:first-child {
            margin-right: 15px;
        }

        &:last-child {
            margin-left: 15px;
        }

        &:hover {
            color: #ccc;
            transition: color .5s;
        }
    }
}

.display-on-col-view {
    @media (min-width: 1351px) {
        display: none;
    }
}

.display-on-row-view {
    @media (max-width: 1350px) {
        display: none;
    }
}

.no-show-less-than-600 {
    @media (max-width: 599px) {
        display: none;
    }
}

.show-less-than-600 {
    @media (min-width: 600px) {
        display: none;
    }
}

.show-less-than-650 {
    @media (min-width: 650px) {
        display: none;
    }
}

.space-after {
    margin-right: 7px;
}

.sm-line-break {
    margin: 7.5px;
}

.mt-sm {
    margin-top: 0;
}
