html, body {
    overflow: scroll;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

// .container-fluid {
//     animation: fade-in 2s forwards;
// }

.profile-page-bg {
    background-color: #111111ee;
    border-radius: 10px;
    margin: 75px auto;
    padding: 20px;
    z-index: -90;
    width: 95%;
    
    @media (min-width: 1200px) {
        position: fixed;
        margin: auto;
        transform: translate(-50%);
        position: fixed;
        top: 25%;
        left: 50%;
        height: auto;
        width: 95%;
    }
}

.profile-section-heading {
    position: relative;
    user-select: none;

    @media (max-width: 1199px) {
        margin: 40px auto 20px;
    }
}

.profile-section-heading-text {
    color: #ddd;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-career {
    margin: 30px auto;
    color: #eee;
    font-size: 22px;
    user-select: none;

    ul > br {
        margin-top: 10px;
    }

    ul > li:nth-child(even) {
        color: #bbb;
    }

    li {
        margin-top: 10px;
    }

    @media (max-width: 991px) {
        text-align: center;
        
        h3 {
            text-decoration: underline;
        }

        ul {
            padding: 0;
        }
        
        li {
            list-style: none;
            margin-top: 15px;
        }
    }
}

.profile-skills {
    margin: 30px auto;
    color: #eee;
    font-size: 22px;
    user-select: none;

    ul > br {
        margin-top: 10px;
    }

    ul > li:nth-child(odd) {
        color: #bbb;
    }

    li {
        margin-top: 10px;
    }

    @media (max-width: 991px) {
        text-align: center;
        
        ul {
            padding: 0;
        }
        li {
            list-style: none;
            margin-top: 15px;
        }
    }
}

.profile-skills-sm {
    color: #eee;
    font-size: 22px;
    margin: 5px auto;
    user-select: none;
    text-align: center;

    h3 {
        text-decoration: underline;
    }

    ul {
        padding: 0;
    }

    ul > br {
        margin-top: 10px;
    }

    ul > li:nth-child(odd) {
        color: #bbb;
    }

    li {
        margin-top: 15px;
        list-style: none;
    }    
}
