.profile-bg-fade {
    animation: bg-fade-in 5s;
    background-color: #000;
    opacity: 0;
    
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -99;
}

@keyframes bg-fade-in {
    from {opacity: 1;}
    to {opacity: 0;}
}

.profile-bg {
    background-image: url("../../images/landing-bg.png");
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: scale(1.05);
    
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    
    @media (max-width: 800px) {
        background-image: url("../../images/landing-bg2.png");
    }
}

.page-bg {
    background-color: #111111ee;
    border-radius: 10px;
    transform: translate(-50%);
    position: fixed;
    top: 15%;
    left: 50%;
    height: 80%;
    width: 95%;
    z-index: -90;
    
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.profile-col {
    color: #eee;
    font-size: 26px;
    padding: 10px;
    
    ul > li {
        font-size: 20px;
        margin: 10px 0;
    }
}

.profile-bio {
    color: #eee;
    font-size: 36px;
    padding: 5% 2.5%;

    

}

// .profile-links {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     margin: 3vh auto 0;

//     img {
//         height: auto;
//         width: 125px;
    
//         border: 2px solid #000;
//         border-radius: 50%;
//         user-select: none;
//     }
// }



